    <h1 style="display: none;">Bear Bicycle Touring Co.</h1>
    <div id="fb-root"></div>
    <div class="topper">
      <a href="/"><img class = "mainLogo" src="/assets/images/bearbicyclelogo-small.png" alt="Bear Bicycle Touring Co. logo"/></a>
      <div class="topperMenu" ontouchstart="" tabindex="0">
        <ul class="topperButtonList">
          <li class="topperButton">
            <a href="/daytours">Day Tours<a/>
            <div class="dropDown">
              <ul>
                <li class="dropDownItem"><a href="/dayEasy">Canals, Lanes and Shopping</a></li>
                <li class="dropDownItem"><a href="/dayMedium">Historic River Towns</a></li>
                <li class="dropDownItem"><a href="/dayGems">New Jersey Countryside Gems</a></li>
              </ul>
            </div>
          </li>
          <li class="topperButton">
            <a href="/corporate">Corporate Events<a/>
          </li> 
          <li class="topperButton">
            <a href="/blog">Blog<a/>
          </li>
          <li class="topperButton">
            <a href="/about">About Us<a/>
          </li>
          <li class="topperButton">
            <a href="/contact">Get in touch<a/>
          </li>
        </ul>
      </div>
    </div>
    