  <head>
    <title>Bear Bicycle Touring Co.</title>
    <meta name="keywords" content="Bicycle, Touring, Cycle, Bear, Bike, Pensylvania, New Jersey, New Hope, Lambertville">
    <meta name="description" content="Single and Multi day bicycle tours based out of Lambertville, NJ">
    <meta charset="UTF-8">
    <meta name="p:domain_verify" content="e3c2c2de804f79a43879ec6874d0e6b8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/wmuSlider-master/css/wmuSlider.css" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/blog.css" />
    <link rel="stylesheet" media="(max-width: 500px)" type="text/css"  href="/assets/css/mobile.css" />
    <link rel="stylesheet" href="https://fh-kit.com/buttons/v1/?blue=30a0e9" type="text/css" media="screen" />
    <meta name="ahrefs-site-verification" content="e6544535215aed4dac95d5abc5897ac8804077abe67dd4d73ecc85319d295e69">
  </head>
